<h1>Login to Admin</h1>
<% if flash[:error] %>
    <div class="flash_error"><%= flash[:error] %></div>
<% end %>
<%= form_for(@user, url: admin_sessions_path) do |f| %>
  <div>
    Email: <%= f.text_field :email, :required => true, :autofocus => true %><br />
    Password: <%= f.password_field :password, :required => true %>
  </div>
  <div>
    <%= f.submit "Log In" %>
  </div>
<% end %>