<ul class="article-snippet" id="article_snippet_<%= snippet.id %>">
  <li class="title"><strong>Title:</strong><%= snippet.title %></li>
  <li class="snippet"><strong>Content:</strong><%= snippet.content[0,400] %></li>
  <li class="edit-link"><%= link_to 'Edit', edit_admin_article_path(snippet), :target => '_top' %></li>
  <li class="delete-link"><%= link_to 'Delete', admin_article_path(snippet), :method => 'delete', :target => '_top' %></li>
</ul>