<h1 class="content-title">Blog Settings</h1>
<ul class="settings-form-group">
  <%= form_tag(admin_settings_path, :method => :put) do %>
    <% @settings.each do |setting| %>
      <li class="form-section">
        <%= hidden_field_tag 'settings[][id]', setting.id %>
        <label><strong><%= setting.name.humanize %>:</strong></label><%= text_field_tag 'settings[][value]', setting.value, :id => "setting_#{setting.id}" %>
      </li>
    <% end %>
    <%= submit_tag 'Save' %>
  <% end %>
</ul>
