<!DOCTYPE html>
<html>
<head>
  <title><%= @title ||= "Rblane_com" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :stylesheet_links  if content_for? :stylesheet_links %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_links  if content_for? :javascript_links %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="admin_wrapper">
  <%= render :partial => 'admin/shared/topbar' %>
  <div id="content_wrapper">
    <%= render :partial => 'admin/shared/sidebar' %>
    <section class="main-content">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
  </div>
</div>
</body>
</html>
